#info-group {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #FFFFFF; }
  #info-group.desktop {
    float: left;
    width: 25%; }
  #info-group .header-bar {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #e5e5e5; }
    #info-group .header-bar .dropdown:last-child .show-client-name {
      float: right;
      margin-right: 15px;
      line-height: 60px; }
      #info-group .header-bar .dropdown:last-child .show-client-name .caret {
        margin-left: 10px; }
      #info-group .header-bar .dropdown:last-child .show-client-name:hover {
        color: red; }
    #info-group .header-bar .dropdown:last-child .dropdown-menu {
      right: 15px;
      top: 40px; }
      #info-group .header-bar .dropdown:last-child .dropdown-menu li a span {
        display: block; }
  #info-group .show-info .show-simple-info {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5; }
    #info-group .show-info .show-simple-info .show-avatar p {
      text-align: center;
      margin-top: 30px;
      position: relative; }
      #info-group .show-info .show-simple-info .show-avatar p img {
        width: 150px;
        height: 150px;
        border-radius: 50%; }
      #info-group .show-info .show-simple-info .show-avatar p #upload-avatar-field {
        padding-top: 10px;
        width: 66px;
        position: absolute;
        left: 40%;
        bottom: 10px; }
    #info-group .show-info .show-simple-info .show-name-andress {
      margin-top: 20px; }
      #info-group .show-info .show-simple-info .show-name-andress .show-name, #info-group .show-info .show-simple-info .show-name-andress .show-andress {
        text-align: center;
        padding: 0;
        margin: 0; }
        #info-group .show-info .show-simple-info .show-name-andress .show-name .fa.fa-pencil, #info-group .show-info .show-simple-info .show-name-andress .show-andress .fa.fa-pencil {
          padding: 0 0 0 10px; }
          #info-group .show-info .show-simple-info .show-name-andress .show-name .fa.fa-pencil:hover, #info-group .show-info .show-simple-info .show-name-andress .show-andress .fa.fa-pencil:hover {
            color: darkred; }
      #info-group .show-info .show-simple-info .show-name-andress .show-name {
        font-size: 18px;
        font-weight: bold; }
      #info-group .show-info .show-simple-info .show-name-andress .show-andress {
        color: gray; }
  #info-group .show-info .show-default-info {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px; }
    #info-group .show-info .show-default-info .table-show-user-default-info {
      width: 100%; }
      #info-group .show-info .show-default-info .table-show-user-default-info tr {
        font-size: 14px; }
        #info-group .show-info .show-default-info .table-show-user-default-info tr:not(:last-child) {
          border-bottom: 1px solid #e5e5e5; }
        #info-group .show-info .show-default-info .table-show-user-default-info tr .show-title {
          padding-top: 10px;
          padding-bottom: 20px;
          color: #6C6F70; }
        #info-group .show-info .show-default-info .table-show-user-default-info tr .show-value {
          padding-top: 10px;
          padding-bottom: 20px;
          float: right;
          color: #B4B4B6; }
  #info-group .show-info .update-user-info-group {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px; }
    #info-group .show-info .update-user-info-group input[type=text], #info-group .show-info .update-user-info-group input[type=number], #info-group .show-info .update-user-info-group select {
      width: 100%;
      margin-bottom: 10px;
      padding: 5px 3px; }
  #info-group .fa.fa-bell {
    font-size: 15px;
    position: absolute;
    line-height: 60px;
    margin: 0 15px; }
    #info-group .fa.fa-bell span.show-count {
      position: relative;
      top: -10px;
      color: white;
      padding: 0px 3px;
      background: red;
      font-weight: 700;
      border-radius: 50%; }
    #info-group .fa.fa-bell:hover {
      color: darkred; }
  #info-group #show-notifications-group ul {
    list-style-type: none; }
    #info-group #show-notifications-group ul li {
      padding-top: 5px;
      padding-bottom: 5px; }
      #info-group #show-notifications-group ul li:not(:first-child) {
        margin-top: 10px; }
      #info-group #show-notifications-group ul li .row .show-photo img {
        width: 30px;
        height: 30px; }
      #info-group #show-notifications-group ul li:hover {
        background: darkred; }
  #info-group #show-notifications-group.active span.show-item-notifi {
    color: darkred; }
  @media screen and (max-width: 768px) {
    #info-group {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 40px;
      overflow: scroll; } }

/*# sourceMappingURL=info-group-style.css.map */
