@mixin flex(){
    margin: 0;
    padding: 0;
}
@mixin character-group-big{
    height: 100vh;
}
$border: 1px solid #e5e5e5;
#info-group{
    @include flex();
    height: 100vh;
    background: #FFFFFF;
    &.desktop{
        float: left;
        width: 25%;
    }
    & .header-bar{
        position: relative;
        height: 60px;
        border-bottom: $border;
        & .dropdown{
            & .show-client-name{
                float: right;
                margin-right: 15px;
                margin-top: 15px;
                & .caret{
                    margin-left: 10px;
                }
                &:hover{
                    color: red;
                }
            }
            & .dropdown-menu{
                right: 15px;
                top: 40px;
                & li{
                    & a span{
                        display: block
                    }
                }
            }
        }
    }
    & .show-info{
        & .show-simple-info{
            padding-bottom: 20px;
            border-bottom: $border;
            & .show-avatar{
                & p{
                    text-align: center;
                    margin-top: 30px;
                    position: relative;
                    & img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                    }


                    #upload-avatar-field{
                        padding-top: 10px;
                        width: 66px;
                        position: absolute;
                        left: 40%;
                        bottom: 10px;
                    }
                }
            }
            & .show-name-andress{
                margin-top: 20px;
                & .show-name, .show-andress{
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    & .fa.fa-pencil{
                        padding: 0 0 0 10px;
                        &:hover{
                            color: darkred;
                        }
                    }
                }
                & .show-name{
                    font-size: 18px;
                    font-weight: bold;
                }

                & .show-andress{
                    color: gray
                }
            }
        }
        & .show-default-info{
            padding-top: 30px;
            padding-right: 30px;
            padding-left: 30px;
            & .table-show-user-default-info{
                width: 100%;
                & tr{
                    font-size: 14px;
                    $padding-top: 10px;
                    $padding-bottom: 20px;
                    &:not(:last-child){
                        border-bottom: $border;
                    }
                    & .show-title{
                        padding-top: $padding-top;
                        padding-bottom: $padding-bottom;
                        color: #6C6F70;
                    }
                    & .show-value{
                        padding-top: $padding-top;
                        padding-bottom: $padding-bottom;
                        float: right;
                        color: #B4B4B6;
                    }
                }
            }
        }
        & .update-user-info-group{
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 30px;
            & input[type=text], & input[type=number], & select{
                width: 100%;
                margin-bottom: 10px;
                padding: 5px 3px;
            }
        }
    }

    @media screen and (max-width: 768px){
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 40px;
        overflow: scroll;
    }
}