@mixin flex(){
    margin: 0;
    padding: 0;
}
@mixin character-group-big{
    height: 100vh;
}
#info-group{
    @include flex();
    height: 100vh;
    background: red;
    &.desktop{
        float: left;
        width: 25%;
    }
}