#navigation-show-user-online {
  margin: 0;
  padding: 0; }
  #navigation-show-user-online.desktop {
    float: left;
    width: 25%; }
  #navigation-show-user-online .row #left-navi {
    padding-top: 10px;
    margin: 0;
    padding: 0;
    height: 100vh;
    float: left;
    background: #1E2329;
    width: 10%; }
    #navigation-show-user-online .row #left-navi p {
      margin-top: 10px;
      text-align: center; }
      #navigation-show-user-online .row #left-navi p #show-hiden-main-navi-btn {
        color: white;
        font-size: 25px;
        text-align: center; }
  #navigation-show-user-online .row #navigation-show-user-online-main-navi {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: scroll;
    float: left;
    background: #232A32;
    color: white; }
    #navigation-show-user-online .row #navigation-show-user-online-main-navi .search-group {
      position: relative;
      color: #aaa;
      height: 60px;
      border-bottom: 0.5px solid darkgray;
      font-size: 16px;
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px; }
      #navigation-show-user-online .row #navigation-show-user-online-main-navi .search-group #search-user-by-name {
        background: #363C43;
        width: 100%;
        height: 32px;
        text-indent: 32px;
        border: none;
        border-radius: 15px; }
        #navigation-show-user-online .row #navigation-show-user-online-main-navi .search-group #search-user-by-name:focus {
          border: none;
          box-shadow: none; }
      #navigation-show-user-online .row #navigation-show-user-online-main-navi .search-group .fa.fa-search {
        position: absolute;
        top: 18px;
        left: 20px; }
    #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item {
      padding: 10px 0; }
      #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image {
        margin: 0;
        padding: 0;
        float: left;
        width: 30%; }
        #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image .child {
          padding-left: 15px;
          padding-right: 15px; }
          #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image .child img {
            width: 100%;
            height: 124.31px;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 50%; }
            #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image .child img.online {
              border: 1px solid yellowgreen; }
            #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image .child img.none-online {
              border: none; }
            @media screen and (min-width: 1300px) {
              #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image .child img {
                height: 54.31px;
                padding-left: 0;
                padding-right: 0; } }
@media screen and (max-width: 1300px) and (min-width: 991px) {
  #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image .child img {
    height: 35px;
    padding: 0; } }

            @media screen and (max-width: 551px) {
              #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image .child img {
                height: 54.31px;
                padding: 0; } }
      #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-user-info {
        margin: 0;
        padding: 0;
        float: left;
        width: 70%;
        padding-top: 10px; }
        #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-user-info .show-name {
          line-height: 0; }
        #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-user-info .show-status {
          line-height: 0; }
@media screen and (min-width: 551px) and (max-width: 991px) {
  #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-user-info {
    font-size: 18px; }
    #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-user-info .show-name, #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-user-info .show-status {
      line-height: 12px; } }

      #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item:hover {
        background: red; }
      #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item.active {
        background: red; }
      @media screen and (max-width: 991px) {
        #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image {
          width: 20%; }
          #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image .child img {
            height: 100px; }
        #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-status {
          width: 80%; } }
@media screen and (max-width: 991px) and (max-width: 768px) {
  #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-image {
    width: 30%; }
  #navigation-show-user-online .row #navigation-show-user-online-main-navi .user-item .show-status {
    width: 70%; } }

    #navigation-show-user-online .row #navigation-show-user-online-main-navi.desktop {
      width: 90%; }
      #navigation-show-user-online .row #navigation-show-user-online-main-navi.desktop.hiden {
        display: none; }
    @media screen and (max-width: 991px) {
      #navigation-show-user-online .row #navigation-show-user-online-main-navi {
        width: 100%;
        display: block; } }

/*# sourceMappingURL=navigation-style.css.map */
