@mixin flex(){
    margin: 0;
    padding: 0;
}
@mixin character-group-big{
    height: 100vh;
}
#navigation-show-user-online{
    @include flex();
    $border: 1px solid #eeeeee;
    &.desktop{
        float: left;
        width: 25%;
    }
    & .row{
        & #left-navi{
            padding-top: 10px;
            @include flex();
            @include character-group-big();
            float: left;
            background: #1E2329;
            width: 10%;
            & p{
                margin-top: 10px;
                text-align: center;
                & #show-hiden-main-navi-btn{
                    color: white;
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
        & #navigation-show-user-online-main-navi{
            @include flex();
            @include character-group-big();
            overflow: scroll;
            float: left;
            width: 90%;
            background: #232A32;
            color: white;
            & .search-group{
                position: relative;
                border-bottom: 1px solid #e5e5e5;
                color: #aaa;
                height: 60px;
                font-size: 16px;
                padding-left: 10px;
                padding-top: 10px;            
                padding-right: 10px;
                & #search-user-by-name{
                    background: #363C43;
                    width: 100%;
                    height: 32px;
                    text-indent: 32px;
                    border: none;
                    border-radius: 15px;
                    &:focus{
                        border: none;
                        box-shadow: none;
                    }
                }

                & .fa.fa-search{
                    position: absolute;
                    top: 18px;
                    left: 20px;
                }
            }
            & .user-item{
                padding: 10px 0;
                & .show-image{
                    @include flex();
                    float: left;
                    width: 30%;
                    & .child{
                        padding-left: 0;
                        padding-right: 0;
                        & p{
                            text-align: center;
                        }

                        @media scren and (max-width: 1300px) {
                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        & img{
                            border-radius: 50%;
                            margin-left: 3px;

                            &.online{
                                border: 2px solid yellowgreen;
                            }

                            &.none-online{
                                border: none;
                            }
                            
                            @media screen and (min-width: 1650px){
                                height: 75px;   
                                width: 75px;
                            }
                            
                            @media screen and (min-width: 1600px) and (max-width: 1650px){
                                height: 70px;
                                width: 70px;
                            }
                        
                            @media screen and (min-width: 1500px) and (max-width: 1600px){
                                height: 66px;
                                width: 66px;
                            }
                        
                            @media screen and (min-width: 1400px) and (max-width: 1500px){
                                height: 65px;
                                width: 65px;
                            }

                            @media screen and (min-width: 1300px) and (max-width: 1400px){
                                height: 60px;
                                width: 60px;
                            }

                            @media screen and (min-width: 991px) and (max-width: 1300px){
                                width: 45px;
                                height: 45px;
                                padding: 0;
                            }

                            @media screen and (max-width: 551px) {
                                height: 54.31px;
                                padding: 0;
                            }                            
                        }
                    }
                }
                & .show-user-info{
                    @include flex();
                    float: left;
                    width: 70%;
                    padding-top: 10px;
                    & .show-name{
                        line-height: 0;
                    }
                    & .show-status{
                        line-height: 0;
                    }

                    @media screen and (max-width: 991px) and (min-width: 768px){
                        padding-left: 15px;
                    }
                }
                
                &:hover{
                    background: red;
                }
                &.active{background: red;}

                @media screen and (max-width: 991px) {
                    @media screen and (max-width: 768px) {
                        & .show-image{
                            width: 30%;
                        }   

                        & .show-status{
                            width: 70%
                        }
                    }
                }
            }
            &.desktop{
                // width: 90%;
                &.hiden{
                    display: none;
                }
            }
            
            @media screen and (max-width: 768px) {
                width: 100%;
                display: block;
            }
        }

        @media screen and (max-width: 991px) and (min-width: 768px){
            #left-navi{
                display: none;
                width: 0;
            }

            & #navigation-show-user-online-main-navi{
                width: 100%;
                & .user-item{
                    & .show-image{
                        width: 20%;
                        & img{
                            width: 50px;
                            height: 50px;
                        }
                    }

                    & .show-user-info{
                        font-size: 13px;
                        line-height: 5px;
                    }
                }
            }
        }

        @media screen and (min-width: 2000px){
            & #navigation-show-user-online-main-navi{
                & .user-item{
                    & .show-image{
                        width: 20%;
                    }

                    & .show-user-info{
                        font-size: 18px;
                    }
                }
            }
        }

        @media screen and (max-width: 768px){
            
            & #navigation-show-user-online-main-navi{
                & .user-item{
                    & .show-image{
                        width: 20%;
                        & .child img {
                            width: 100px;
                            height: 100px;
                            @media screen and (max-width: 451px){
                                width: 61px;
                                height: 61px;
                            }
                        }
                    }

                    & .show-user-info{
                        font-size: 18px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px){
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 40px;
        overflow: scroll;
    }
}