@mixin flex(){
    margin: 0;
    padding: 0;
}
@mixin groupChar(){
    @include flex();
    height: 100vh;
    background: #EEF1F6;
    position: relative;
    &.desktop{
        float: left;
        width: 50%;
    }
}
@mixin character-group-big{
    height: 100vh;
}
$boder: 1px solid #e5e5e5;
#chat-group{
    @include groupChar();
    & .header-bar{
        position: relative;
        height: 60px;
        border-bottom: $boder;
        & .chat-group-show-name{
            float: left;
            margin-left: 15px;
            margin-top: 20px;
        }
        & .chat-group-list-tool{
            list-style-type: none;
            float: right;
            height: 100%;
            & li{
                float: right;
                height: 100%;
                padding-right: 20px; 
                padding-left: 20px;
                border-right: $boder;
                border-left: $boder;
                & .fa{
                    margin-top: 20px;
                    font-size: 15px;
                }
                &:first-child{
                    border: none;
                }
                &:hover{
                    background: red;
                }
            }
        }
    }

    & .show-message{
        position: absolute;
        top: 60px;
        bottom: 60px;
        right: 0;
        left: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        overflow: scroll;
        & .message-item{
            padding-left: 3px;
            padding-right: 3px;
            & .show-user-avatar{
                width: 5%;
                float: left;
                & img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-left: 3px;
                    &.hiden{
                        display: none;
                    }
                }
            }

            & .show-message-value{
                width: 95%;
                float: right;
                padding-left: 15px;
                & p.value{
                    float: left;
                    background: #4080ff;
                    color: white;
                    border-radius: 10%;
                    padding-left: 10px;
                    padding-right: 10px;
                    max-width: 80%;
                    line-height: 2;
                }
            }

            &.right{
                & .show-user-avatar{
                    float: right;
                    display: none;
                    width: 0;
                }

                & .show-message-value{
                    padding-right: 5px;
                    width: 100%;

                    & p.value{
                        float: right;
                        padding-right: 10px;
                    }
                }
            }

            & p.rd{
                float: right;
                margin-right: 10px;
                line-height: 0;
            }
        }
    }
    
    & .group-send-message{
        position: absolute;
        background: #FBFCFD;
        bottom: 0;
        height: 60px;
        right: 0;
        left: 0;
        // & .fa-paperclip{
        //     width: 10%;
        //     float: left;
        //     font-size: 30px;
        //     margin-top: 20px;
        //     padding-left: 10px;
        // }

        & #input-message{
            float: left;
            width: 90%;
            height: 100%;
            border: none;
            padding: 0 12px;
            background: transparent;
        }

        & .fa-paper-plane{
            float: left;
            width: 10%;
            font-size: 20px;
            line-height: 60px;
            text-align: center;
        }

        @media screen and (min-width: 991px){
            & #input-message{
                width: 95%;
            }

            & .fa-paper-plane{
                width: 5%;
            }
        }
    }

    & .b-group{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        @media screen and (max-width: 768px){
            bottom: 40px;
        }
    }

    @media screen and (max-width: 768px){
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 40px;
        overflow: scroll;
    }
}
#intro-app-group{
    @include groupChar();
    overflow: scroll;
    & .show-title{
        padding-top: 80px;
        & .title, & .be-title{
            text-align: center;
            font-weight: bold;
            font-family: inherit;
            line-height: 0;
        }
        & .title{
            font-size: 7.5vw;
        }
        & .be-title{
            padding-top: 30px;
            font-size: 15px;
        }
    }

    & .show-faq-group{
        padding: 6px 12px;
        margin-top: 5em;
        & .title{
            font-weight: bold;
            font-family: inherit;
            &:first-child{
                font-size: 3.5vw;
            }
        }

        & .FAQ-item{
            margin-top: 20px;
            & .show-title-faq{
                & h2{
                    font-size: 1.5em;
                    font-weight: 600;
                    line-height: 2.25;
                    border-bottom: 1px solid darkgray;
                    font-family: 'Helvetica Neue', Helvetica, sans-serif;
                }
            }

            & .show-text{
                & p{
                    font-size: 18px;
                    font-family: 'Times New Roman', Times, serif;
                }
            }
        }
    }
}