#chat-group {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #EEF1F6;
  position: relative; }
  #chat-group.desktop {
    float: left;
    width: 50%; }
  #chat-group .header-bar {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #e5e5e5; }
    #chat-group .header-bar .chat-group-show-name {
      float: left;
      margin-left: 15px;
      margin-top: 20px; }
    #chat-group .header-bar .chat-group-list-tool {
      list-style-type: none;
      float: right;
      height: 100%; }
      #chat-group .header-bar .chat-group-list-tool li {
        float: right;
        height: 100%;
        padding-right: 20px;
        padding-left: 20px;
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5; }
        #chat-group .header-bar .chat-group-list-tool li .fa {
          margin-top: 20px; }
        #chat-group .header-bar .chat-group-list-tool li:first-child {
          border: none; }
        #chat-group .header-bar .chat-group-list-tool li:hover {
          background: red; }
  #chat-group .show-message {
    position: absolute;
    top: 60px;
    bottom: 60px;
    right: 0;
    left: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: scroll; }
    #chat-group .show-message .message-item {
      padding-left: 3px;
      padding-right: 3px; }
      #chat-group .show-message .message-item .show-user-avatar {
        width: 5%;
        float: left; }
        #chat-group .show-message .message-item .show-user-avatar img {
          width: 100%;
          height: 30px;
          border-radius: 50%; }
          #chat-group .show-message .message-item .show-user-avatar img.hiden {
            display: none; }
          @media screen and (max-width: 991px) {
            #chat-group .show-message .message-item .show-user-avatar img {
              height: 50px; } }
      #chat-group .show-message .message-item .show-message-value {
        width: 95%;
        float: right;
        padding-left: 10px; }
        #chat-group .show-message .message-item .show-message-value p {
          float: left;
          background: #4080ff;
          color: white;
          border-radius: 10%;
          padding-left: 10px;
          padding-right: 10px;
          max-width: 80%;
          line-height: 2; }
      #chat-group .show-message .message-item.right .show-user-avatar {
        float: right;
        display: none;
        width: 0; }
      #chat-group .show-message .message-item.right .show-message-value {
        padding-right: 5px;
        width: 100%; }
        #chat-group .show-message .message-item.right .show-message-value p {
          float: right;
          padding-right: 10px; }
  #chat-group .group-send-message {
    position: absolute;
    background: #FBFCFD;
    bottom: 0;
    height: 60px;
    right: 0;
    left: 0; }
    #chat-group .group-send-message .fa-paperclip {
      width: 10%;
      float: left;
      font-size: 30px;
      margin-top: 20px;
      padding-left: 10px; }
    #chat-group .group-send-message #input-message {
      float: left;
      width: 80%;
      height: 100%;
      border: none;
      padding-right: 20px;
      background: transparent; }
    #chat-group .group-send-message .fa-paper-plane {
      float: left;
      width: 10%;
      font-size: 20px;
      margin-top: 25px;
      padding-right: 10px;
      padding-left: 5px; }
      @media screen and (min-width: 991px) {
        #chat-group .group-send-message .fa-paper-plane {
          padding-left: 20px; } }
  #chat-group .b-group {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
    @media screen and (max-width: 768px) {
      #chat-group .b-group {
        bottom: 40px; } }
  @media screen and (max-width: 768px) {
    #chat-group {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 40px;
      overflow: scroll; } }

/*# sourceMappingURL=chat-group-style.css.map */
