.sign-in-page, .sign-up-page {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #39393A;
  position: relative; }
  .sign-in-page .login-page-left-group-show-backgrond, .sign-up-page .login-page-left-group-show-backgrond {
    padding: 0;
    margin: 0;
    height: 100vh; }
    .sign-in-page .login-page-left-group-show-backgrond img, .sign-up-page .login-page-left-group-show-backgrond img {
      width: 100%;
      height: 100%; }
  .sign-in-page .sign-in-group, .sign-in-page .sign-up-group, .sign-up-page .sign-in-group, .sign-up-page .sign-up-group {
    border: 1px solid #e5e5e5;
    color: white;
    padding: 10px 15px;
    right: 25%;
    top: 180px;
    position: relative; }
    .sign-in-page .sign-in-group .title, .sign-in-page .sign-up-group .title, .sign-up-page .sign-in-group .title, .sign-up-page .sign-up-group .title {
      text-align: center;
      font-family: inherit; }
    @media screen and (min-width: 991px) {
      .sign-in-page .sign-in-group, .sign-in-page .sign-up-group, .sign-up-page .sign-in-group, .sign-up-page .sign-up-group {
        position: absolute;
        width: 25%;
        right: 37.5%; } }
    @media screen and (max-width: 991px) {
      .sign-in-page .sign-in-group, .sign-in-page .sign-up-group, .sign-up-page .sign-in-group, .sign-up-page .sign-up-group {
        width: 40%;
        left: 30%; } }
  @media screen and (max-width: 991px) and (max-width: 768px) {
    .sign-in-page .sign-in-group, .sign-in-page .sign-up-group, .sign-up-page .sign-in-group, .sign-up-page .sign-up-group {
      left: 15%;
      width: 60%; } }

  @media screen and (max-width: 991px) and (max-width: 768px) and (max-width: 400px) {
    .sign-in-page .sign-in-group, .sign-in-page .sign-up-group, .sign-up-page .sign-in-group, .sign-up-page .sign-up-group {
      left: 10%;
      width: 80%; } }

  .sign-in-page input[type=text], .sign-in-page input[type=password], .sign-up-page input[type=text], .sign-up-page input[type=password] {
    width: 100%;
    padding: 10px 5px;
    border: none;
    margin-bottom: 20px;
    color: black; }
    @media screen and (max-width: 991px) {
      .sign-in-page input[type=text], .sign-in-page input[type=password], .sign-up-page input[type=text], .sign-up-page input[type=password] {
        width: 100%; } }
  .sign-in-page a.sign-up-btn, .sign-up-page a.sign-up-btn {
    text-align: center;
    margin-top: 10px; }
    .sign-in-page a.sign-up-btn:hover, .sign-up-page a.sign-up-btn:hover {
      color: darkred;
      text-decoration: none; }
  .sign-in-page input[type=submit], .sign-in-page a.login-with-face, .sign-up-page input[type=submit], .sign-up-page a.login-with-face {
    padding: 10px 0;
    width: 100%;
    display: block;
    text-align: center;
    letter-spacing: 5px;
    border: none;
    background: rgba(233, 30, 99, 0.7);
    text-transform: uppercase;
    font-family: Space Mono; }
    @media screen and (max-width: 768px) {
      .sign-in-page input[type=submit], .sign-in-page a.login-with-face, .sign-up-page input[type=submit], .sign-up-page a.login-with-face {
        padding: 15px 0; } }
    .sign-in-page input[type=submit]:hover, .sign-in-page a.login-with-face:hover, .sign-up-page input[type=submit]:hover, .sign-up-page a.login-with-face:hover {
      color: black;
      text-decoration: none; }
  .sign-in-page a, .sign-up-page a {
    display: block;
    color: white; }
    .sign-in-page a .fa.fa-facebook, .sign-up-page a .fa.fa-facebook {
      font-size: 10px; }

/*# sourceMappingURL=login-style.css.map */
