#App{
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    padding: 0;
    @mixin flex(){
        margin: 0;
        padding: 0;
    }
    & .row{
        @include flex();
    }

    & .title-app{
        position: absolute;
        text-align: center;
        color: white;
        top: -100px;
        right: 0;
        left: 0;
    }
}
